<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row vh-100">
        <div th:replace="sidebar :: sidebar"></div>
        <div class="main col-11">
            <div class="row header">
                <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light">
                    <h1 class="title">User management</h1>
                    <div th:replace="header :: header"></div>
                </nav>
            </div>
            <div class="row">
                <div class="mb-4 ">
                    <a th:href="@{/user-list}" class="content-header text-decoration-underline">User list</a>
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="content-header text-decoration-underline font-italic">Create User</span>
                    <span th:if="${param.success}" class="content-header alert alert-info">Successfully created user</span>
                    <span th:if="${param.updateSuccess}" class="content-header alert alert-info">Successfully updated user</span>
                </div>

                <!-- create user form -->
                <form th:action="@{/create-user/{id} (id=${userDto.id})}" method="post" th:object="${userDto}">
                    <div class="row vh-100 mx-3 py-5" style="background-color: #f1f6fb">
                        <div class="col-4 col-sm-5">
                            <div class="row mb-5">
                                <label for="fullName" class="col-sm-3 col-form-label col-auto required">Full name</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="fullName" name="fullName" th:field="*{fullName}" th:placeholder="(${userDto.id != null} ? 'Read-only value' : 'Type a name...')"
                                           th:readonly="${userDto.id != null}">
                                    <span class="error-msg" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="dob" class="col-sm-3 col-form-label col-auto">D.O.B</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="date" class="form-control" id="dob" name="dob" th:field="*{dob}" th:readonly="${readOnly}">
                                    <span class="error-msg" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="phone" class="col-sm-3 col-form-label col-auto">Phone number</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="phone" name="phone" th:field="*{phoneNumber}" th:readonly="${readOnly}" placeholder="Type a number...">
                                    <span class="error-msg" th:if="${duplicatePhone}" th:text="${duplicatePhone}"></span>
                                    <span class="error-msg" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="role" class="col-sm-3 col-form-label col-auto required">Role</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="role" id="role" th:field="*{role}" th:disabled="${readOnly}">
                                        <option th:each="role : ${T(mock.project.entities.enums.UserRole).values()}"
                                                th:value="${role}"
                                                th:text="${#strings.capitalize(role.name().toLowerCase())}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="status" class="col-sm-3 col-form-label col-auto required">Status</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="status" id="status" th:field="*{statusName}" th:disabled="${readOnly}">
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.name}"
                                                th:text="${status.name}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('statusName')}" th:errors="*{statusName}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 col-sm-2"></div>

                        <div class="col-4 col-sm-5">
                            <div class="row mb-5">
                                <label for="email" class="col-sm-3 col-form-label col-auto required">Email</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="email" name="email" th:field="*{email}" th:readonly="${userDto.id != null}" placeholder="Type an email...">
                                    <span class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                    <span class="error-msg" th:if="${duplicateEmail}" th:text="${duplicateEmail}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="address" class="col-sm-3 col-form-label col-auto">Address</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="address" name="address" th:field="*{address}" th:readonly="${readOnly}" placeholder="Type an address...">
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="gender" class="col-sm-3 col-form-label col-auto required">Gender</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="gender" id="gender" th:field="*{gender}" th:disabled="${readOnly}">
                                        <option value="" disabled selected>Select a gender</option>
                                        <option th:each="gender : ${T(mock.project.entities.enums.Gender).values()}"
                                                th:value="${gender}"
                                                th:text="${#strings.capitalize(gender.name().toLowerCase())}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="department" class="col-sm-3 col-form-label col-auto required">Department</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="department" id="department" th:field="*{deptName}" th:disabled="${readOnly}">
                                        <option value="" disabled selected>Select a department</option>
                                        <option th:each="department : ${departments}"
                                                th:value="${department.deptName}"
                                                th:text="${department.deptName}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('deptName')}" th:errors="*{deptName}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="note" class="col-sm-3 col-form-label col-auto">Note</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="note" name="note" th:field="*{note}" th:readonly="${readOnly}" placeholder="N/A">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-secondary mx-3" th:classappend="${readOnly} ? 'disabled' : ''" type="submit">Submit</button>
                            <a th:href="@{/user-list}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>