<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap3.min.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>

    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row vh-100">
        <div th:replace="sidebar :: sidebar"></div>
        <div class="main col-11">
            <div class="row header">
                <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light">
                    <h1 class="title">Job</h1>
                    <div th:replace="header :: header"></div>
                </nav>
            </div>
            <div class="row">
                <div class="mb-4 ">

                    <a th:href="@{/job-list}" class="content-header text-decoration-underline">Job list</a>
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="content-header text-decoration-underline font-italic">Create job</span>
                    <span th:if="${param.success}"
                          class="content-header alert alert-info">Successfully created job</span>
                    <span th:if="${param.updateSuccess}" class="content-header alert alert-info">Successfully updated job</span>
                    <span th:if="${param.fail}" class="content-header alert alert-danger">Failed to create
                            Job</span>
                    <div th:if="${errorSave}" class="alert alert-danger">
                        <p th:text="${errorSave}"></p>
                    </div>

                    <div class="text-end mx-3">
                    <span th:if="${jobDto.createTime}" class="update-time">
                        Create Time: <span th:text="${jobDto.createTime}"></span>
                    </span>
                    <span th:if="${jobDto.updateTime}" class="update-time">
                        Update Time: <span th:text="${jobDto.updateTime}"></span>
                    </span>
                    </div>

                    <!-- create user form -->
                    <form th:action="@{/create-job/{id} (id=${jobDto.id})}" method="post" th:object="${jobDto}">
                        <div class="row vh-100 mx-3 py-5" style="background-color: #f1f6fb">
                            <div class="col-4 col-sm-5">
                                <div class="row mb-5">
                                    <label for="jobTitle" class="col-sm-3 col-form-label col-auto required">Job
                                        title</label>
                                    <div class="col-sm-9 col-auto">
                                        <input type="text" class="form-control" id="jobTitle" name="jobTitle"
                                               placeholder="Type a name..."
                                               th:field="*{jobTitle}"
                                               th:readonly="${readOnly}"/>
                                        <span class="error-msg" th:if="${#fields.hasErrors('jobTitle')}"
                                              th:errors="*{jobTitle}"></span>
                                        <span class="error-msg" th:text="${errorTitle}"></span>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <label for="startDate" class="col-sm-3 col-form-label col-auto required">Start
                                        date</label>
                                    <div class="col-sm-9 col-auto">
                                        <input type="date" class="form-control" id="startDate" name="startDate"
                                               th:field="*{startDate}"
                                               th:readonly="${readOnly}">
                                        <span class="error-msg" th:if="${#fields.hasErrors('startDate')}"
                                              th:errors="*{startDate}"></span>
                                        <span class="error-msg" th:text="${errorDate}"></span>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-sm-3 col-form-label col-auto">Salary range</div>
                                    <div class="col-sm-9 col-auto d-flex justify-content-between">

                                        <div class="col-sm-4">
                                            <label for="fromSalary" class="col-form-label">From</label>
                                            <input type="text" class="form-control" id="fromSalary" name="salaryFrom"
                                                   placeholder="Select range"
                                                   th:field="*{salaryFrom}"
                                                   th:readonly="${readOnly}">
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="toSalary" class="col-form-label required">To</label>
                                            <input type="text" class="form-control" id="toSalary" name="salaryTo"
                                                   placeholder="Select range" th:field="*{salaryTo}"
                                                   th:readonly="${readOnly}">
                                            <span class="error-msg" th:if="${#fields.hasErrors('salaryTo')}"
                                                  th:errors="*{salaryTo}"></span>
                                            <span class="error-msg" th:text="${errorSalary}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <label for="workingAddress" class="col-sm-3 col-form-label col-auto">Working
                                        address</label>
                                    <div class="col-sm-9 col-auto">
                                        <input type="text" class="form-control" id="workingAddress"
                                               name="workingAddress"
                                               th:field="*{workingAddress}"
                                               th:readonly="${readOnly}"
                                               placeholder="Type address">
                                        <span class="error-msg" th:if="${#fields.hasErrors('workingAddress')}"
                                              th:errors="*{workingAddress}"></span>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <label for="descriptions"
                                           class="col-sm-3 col-form-label col-auto">Descriptions</label>
                                    <div class="col-sm-9 col-auto">
                                    <Textarea class="form-control" id="descriptions" name="description"
                                              placeholder="Type descriptions"
                                              th:field="*{description}"
                                              th:disabled="${readOnly}"></Textarea>
                                        <span class="error-msg" th:if="${#fields.hasErrors('description')}"
                                              th:errors="*{description}"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 col-sm-2"></div>

                            <div class="col-4 col-sm-5">
                                <div class="row mb-5">
                                    <label for="skillName"
                                           class="col-sm-3 col-form-label col-auto required">Skills</label>
                                    <div class="col-sm-9 col-auto">
                                        <select class="form-control" name="skillName" id="skillName"
                                                th:field="*{skillName}" multiple="multiple"
                                                th:disabled="${readOnly}">
                                            <option th:each="skill : ${skills}"
                                                    th:value="${skill.skillName}"
                                                    th:text="${skill.skillName}">
                                            </option>
                                        </select>
                                        <span class="error-msg" th:if="${#fields.hasErrors('skillName')}"
                                              th:errors="*{skillName}"></span>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <label for="endDate" class="col-sm-3 col-form-label col-auto required">End
                                        date</label>
                                    <div class="col-sm-9 col-auto">
                                        <input type="date" class="form-control" id="endDate" name="endDate"
                                               th:field="*{endDate}"
                                               th:readonly="${readOnly}">
                                        <span class="error-msg" th:if="${#fields.hasErrors('endDate')}"
                                              th:errors="*{endDate}"></span>
                                        <span class="error-msg" th:text="${errorDate}"></span>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <label for="benefitName"
                                           class="col-sm-3 col-form-label col-auto required">Benefits</label>
                                    <div class="col-sm-9 col-auto">
                                        <select class="form-control" name="benefitName" id="benefitName"
                                                th:field="*{benefitName}" multiple="multiple"
                                                th:disabled="${readOnly}">
                                            <option th:each="benefit : ${benefits}"
                                                    th:value="${benefit.benefitName}"
                                                    th:text="${benefit.benefitName}">
                                            </option>
                                        </select>
                                        <span class="error-msg" th:if="${#fields.hasErrors('benefitName')}"
                                              th:errors="*{benefitName}"></span>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <label for="levelName"
                                           class="col-sm-3 col-form-label col-auto required">Level</label>
                                    <div class="col-sm-9 col-auto">
                                        <select class="form-control" name="levelName" id="levelName"
                                                th:field="*{levelName}" multiple="multiple"
                                                th:disabled="${readOnly}">
                                            <option th:each="level : ${levels}"
                                                    th:value="${level.levelName}"
                                                    th:text="${level.levelName}">
                                            </option>
                                        </select>
                                        <span class="error-msg" th:if="${#fields.hasErrors('levelName')}"
                                              th:errors="*{levelName}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary mx-3" th:classappend="${readOnly} ? 'disabled' : ''"
                                        type="submit">Submit
                                </button>
                                <a th:href="@{/job-list}" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#skillName').selectize({
            plugins: ['remove_button'],
            maxItems: 6,
            placeholder: 'Select skills',
            persist: false,
            create: true,
        });

        $('#benefitName').selectize({
            plugins: ['remove_button'],
            maxItems: null,
            placeholder: 'Select benefits',
            persist: false,
            create: true,
        });
        $('#levelName').selectize({
            plugins: ['remove_button'],
            maxItems: null,
            placeholder: 'Select levels',
            persist: false,
            create: true,
        });
    });
</script>
</body>

</html>