<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap3.min.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .container {
            padding: 0!important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="sidebar :: sidebar"></div>
        <div class="main col-11">
            <div class="row header">
                <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light">
                    <h1 class="title">Offer management</h1>
                    <div th:replace="header :: header"></div>
                </nav>
            </div>
            <div class="row">
                <div class="mb-4 ">
                    <a th:href="@{/offer-list}" class="content-header text-decoration-underline">Offer List</a>
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="content-header text-decoration-underline font-italic">Create offer</span>
                    <span th:if="${param.success}" class="content-header alert alert-info">Successfully created interview schedule</span>
                    <span th:if="${param.updateSuccess}" class="content-header alert alert-info">Successfully updated interview schedule</span>
                </div>

                <!-- create schedule form -->

                <form th:action="@{/create-offer/{id} (id=${offerDto.id})}" method="post" th:object="${offerDto}">
                    <div class="row mx-3 py-5" style="background-color: #f1f6fb">
                        <div class="col-5 col-sm-5">

                            <div class="row mb-5">
                                <label for="candidates" class="col-sm-3 col-form-label col-auto required">Candidate</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="candidateId" id="candidates" th:field="*{candidateId}">
                                        <option value=""  selected>Select a candidate</option>
                                        <option th:each="candidate : ${candidates}"
                                                th:value="${candidate.id}"
                                                th:text="${candidate.fullName}">
                                        </option>
                                        <option th:if="${candidate}" th:value="${candidate.id}" th:text="${candidate.fullName}"></option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('candidateId')}" th:errors="*{candidateId}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="position" class="col-sm-3 col-form-label col-auto required">Position</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="position" id="position" th:field="*{position}" th:disabled="${readOnly}">
                                        <option th:each="position : ${positions}"
                                                th:value="${position.id}"
                                                th:text="${position.name}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="manager" class="col-sm-3 col-form-label col-auto required">Approved by</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="manager" id="manager" th:field="*{manager}">
                                        <option value="" disabled selected>Select a username</option>
                                        <option th:each="user : ${managers}"
                                                th:value="${user.username}"
                                                th:text="${user.username}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('manager')}" th:errors="*{manager}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="statusName" class="col-sm-3 col-form-label col-auto required">Status</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="statusName" id="statusName" th:field="*{statusName}">
                                        <option value="" disabled selected>Select a department</option>
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.name}"
                                                th:text="${status.name}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('statusName')}" th:errors="*{statusName}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="interviewUsernamesList" class="col-sm-3 col-form-label col-auto required">Interviewer</label>
                                <div class="col-sm-9 col-auto">
                                    <input class="form-control" id="interviewUsernamesList" readonly>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="note" class="col-sm-3 col-form-label">Contract start</label>
                                <div class="col-sm-9">
                                    <div class="container row">
                                        <div class="col-6 d-flex align-items-center">
                                            <label class="px-2" for="contractStartFrom">From</label>
                                            <input class="py-1" type="date" id="contractStartFrom" name="contractStartFrom" th:field="*{contractStartFrom}"/>
                                            <span class="error-msg" th:if="${#fields.hasErrors('contractStartFrom')}" th:errors="*{contractStartFrom}"></span>
                                        </div>
                                        <div class="col-6 d-flex align-items-center">
                                            <label class="px-2" for="contractStartTo">To</label>
                                            <input class="py-1" type="date" id="contractStartTo" name="contractStartTo" th:field="*{contractStartTo}"/>
                                            <span class="error-msg" th:if="${#fields.hasErrors('contractStartTo')}" th:errors="*{contractStartTo}"></span>
                                        </div>
                                    </div>
                                    <span class="error-msg" th:text="${errorDate}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="interviewNotes" class="col-sm-3 col-form-label col-auto">Interview Notes</label>
                                <div class="col-sm-9 col-auto">
                                    <input class="form-control"  id="interviewNotes" name="interviewNotes" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-2 col-sm-2"></div>

                        <div class="col-5 col-sm-5">
                            <div class="row mb-5">
                                <label for="contractType" class="col-sm-3 col-form-label col-auto">Contract type</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="contractType" id="contractType" th:field="*{contractType}">
                                        <option value="" disabled selected>Select a gender</option>
                                        <option th:each="contract : ${T(mock.project.entities.enums.ContractType).values()}"
                                                th:value="${contract}"
                                                th:text="${#strings.capitalize(contract.name().toLowerCase())}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('contractType')}" th:errors="*{contractType}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="levelName" class="col-sm-3 col-form-label col-auto">Level</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="levelName" id="levelName" th:field="*{levelName}">
                                        <option value="" disabled selected>Select a level</option>
                                        <option th:each="level : ${levels}"
                                                th:value="${level.levelName}"
                                                th:text="${level.levelName}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('levelName')}" th:errors="*{levelName}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="department" class="col-sm-3 col-form-label col-auto required">Department</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="department" id="department" th:field="*{department}">
                                        <option value="" disabled selected>Select a department</option>
                                        <option th:each="department : ${departments}"
                                                th:value="${department.deptName}"
                                                th:text="${department.deptName}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
                                </div>

                            </div>
                            <div class="row mb-5">
                                <label for="recruiterOwner" class="col-sm-3 col-form-label col-auto">Recruiter Owner</label>
                                <div class="col-sm-9 col-auto">
                                    <input class="form-control"  id="recruiterOwner" name="recruiterOwner" readonly>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="dueDate" class="col-sm-3 col-form-label col-auto">Due Date</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="date" class="form-control" id="dueDate" name="dueDate" th:field="*{dueDate}" placeholder="Type a meeting...">
                                    <span class="error-msg" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span>

                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="basicSalary" class="col-sm-3 col-form-label col-auto">Basic salary</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="basicSalary" name="basicSalary" th:field="*{basicSalary}" placeholder="Type a meeting...">
                                    <span class="error-msg" th:if="${#fields.hasErrors('basicSalary')}" th:errors="*{basicSalary}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="note" class="col-sm-3 col-form-label col-auto">Notes</label>
                                <div class="col-sm-9 col-auto">
                                    <textarea class="form-control" id="note" name="note" th:field="*{note}" rows="5" placeholder="Type schedule note..."></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary mx-3" type="submit">Submit</button>
                            <a th:href="@{${#httpServletRequest.getHeader('Referer')}}" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#interview').selectize({
            plugins: ['remove_button'],
            maxItems: 4,
            placeholder: 'Select interviewers',
            persist: false,
            create: true,
        });

        $('#interviewUsernamesList').selectize({
            plugins: ['remove_button'],
            maxItems: 4,
            delimiter: ',',
            placeholder: 'Recruiter Owner',
            persist: false,
            create: true,
            onChange: function () {
                // Handle change event if needed
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const candidates = document.getElementById("candidates");
        const recruiterOwner = document.getElementById("recruiterOwner");
        const interviewer = document.getElementById("interviewer");
        const interviewNotes = document.getElementById("interviewNotes");

        candidates.addEventListener("change", function() {
            const selectedCandidateId = this.value;

            $.ajax({
                type: "GET",
                url: "/getRecruiterData/" + selectedCandidateId,
                data: { candidateId: selectedCandidateId },
                success: function (data) {

                    recruiterOwner.value = data.recruiterUsername;
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });

            $.ajax({
                type: "GET",
                url: "/getInterviewNotesData/" + selectedCandidateId,
                data: { candidateId: selectedCandidateId },
                success: function (data) {

                    interviewNotes.value = data.interviewNotes;
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });

            $.ajax({
                type: "GET",
                url: "/getInterviewerData/" + selectedCandidateId,
                data: { candidateId: selectedCandidateId },
                success: function (data) {

                    // Update selectize options with interviewUsernamesList
                    var interviewUsernamesList = data.interviewUsernamesList;
                    var selectize = $('#interviewUsernamesList')[0].selectize;

                    // Clear existing options
                    selectize.clearOptions();

                    // Add new options
                    for (var i = 0; i < interviewUsernamesList.length; i++) {
                        selectize.addOption({ value: interviewUsernamesList[i], text: interviewUsernamesList[i] });
                    }

                    // Set the new options as selected (if needed)
                    // selectize.setValue(interviewUsernamesList);

                    // Refresh the selectize control
                    selectize.refreshOptions(false);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });





        });
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>