<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap3.min.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <style>

    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row ">
        <div th:replace="sidebar :: sidebar"></div>
        <div class="main col-11">
            <div class="row header">
                <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light">
                    <h1 class="title">Candidate</h1>
                    <div th:replace="header :: header"></div>
                </nav>
            </div>
            <div class="row">
                <div class="mb-4 ">
                    <a th:href="@{/candidate-list}" class="content-header text-decoration-underline">Candidate list</a>
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="content-header text-decoration-underline font-italic">Create candidate</span>
                    <span th:if="${param.success}" class="content-header alert alert-info">Successfully created
                            candidate</span>
                    <span th:if="${param.updateSuccess}" class="content-header alert alert-info">Successfully
                            updated candidate</span>
                    <span th:if="${param.fail}" class="content-header alert alert-danger">Failed to create
                            candidate</span>
                    <div th:if="${errorSave}" class="alert alert-danger">
                        <p th:text="${errorSave}"></p>
                    </div>
                </div>

                <!-- create candidate form -->
                <form th:action="@{/create-candidate/{id} (id=${candidateDto.id})}" method="post" th:object="${candidateDto}">
                    <h4>I. Personal information</h4>
                    <div class="row mx-2 py-3" style="background-color: #f1f6fb">
                        <div class="col-4 col-sm-5">
                            <div class="row mb-5">
                                <label for="fullName" class="col-sm-3 col-form-label col-auto required">Full
                                    name</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="fullName" name="fullName" th:field="*{fullName}" th:placeholder="(${candidateDto.id != null} ? 'Read-only value' : 'Type a name...')" th:readonly="${readOnly}">
                                    <span class="error-msg" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="dob" class="col-sm-3 col-form-label col-auto">D.O.B</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="date" class="form-control" id="dob" name="dob" th:field="*{dob}" th:readonly="${readOnly}">
                                    <span class="error-msg" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="phone" class="col-sm-3 col-form-label col-auto">Phone number</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" th:readonly="${readOnly}" placeholder="Type a number..."/>
                                    <span class="error-msg" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                                    <span class="error-msg" th:text="${errorPhone}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 col-sm-5">
                            <div class="row mb-5">
                                <label for="email" class="col-sm-3 col-form-label col-auto required">Email</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="email" name="email" th:field="*{email}" th:readonly="${readOnly}"/>
                                    <span class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                    <span class="error-msg" th:text="${errorEmail}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="address" class="col-sm-3 col-form-label col-auto">Address</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="address" name="address" th:field="*{address}" th:readonly="${readOnly}" placeholder="Type an address...">
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="gender" class="col-sm-3 col-form-label col-auto required">Gender</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="gender" id="gender" th:field="*{gender}"
                                            th:disabled="${readOnly}">
                                        <option value="" disabled selected>Select a gender</option>
                                        <option th:each="gender : ${T(mock.project.entities.enums.Gender).values()}"
                                                th:value="${gender}"
                                                th:text="${#strings.capitalize(gender.name().toLowerCase())}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('gender')}"
                                          th:errors="*{gender}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>II. Profession information</h4>

                    <div class="row mx-2 py-3" style="background-color: #f1f6fb">
                        <div class="col-4 col-sm-5">
                            <div class="row mb-5">
                                <label for="cvAttachment" class="col-sm-3 col-form-label col-auto">CV attachment</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="file" class="form-control" id="cvAttachment" name="cvAttachment" th:field="*{cvAttachment}" th:readonly="${readOnly}"/>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="position" class="col-sm-3 col-form-label col-auto required">Position</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="positionName" id="position" th:field="*{positionName}" th:disabled="${readOnly}">
                                        <option value="" disabled selected>Select a department</option>
                                        <option th:each="position : ${positions}"
                                                th:value="${position.name}"
                                                th:text="${position.name}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('positionName')}" th:errors="*{positionName}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="skillName" class="col-sm-3 col-form-label col-auto required">Skills</label>
                                <div class="col-sm-9 col-auto">

                                    <select class="form-control" name="skillName" id="skillName"
                                            th:field="*{skillName}" multiple="multiple"
                                            th:disabled="${readOnly}">
                                        <option value="" disabled selected>Select a skill name</option>
                                        <option th:each="skill : ${skills}"
                                                th:value="${skill.skillName}"
                                                th:text="${skill.skillName}">
                                        </option>

                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('skillName')}" th:errors="*{skillName}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="recruiter" class="col-sm-3 col-form-label col-auto required">Recruiter</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="recruiter" id="recruiter" th:field="*{recruiter}" th:disabled="${readOnly}">
                                        <option value="" disabled selected>Select a department</option>
                                        <option th:each="recruiter : ${recruiters}"
                                                th:value="${recruiter.username}"
                                                th:text="${recruiter.username}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('recruiter')}" th:errors="*{recruiter}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 col-sm-5">
                            <div class="row mb-5">
                                <label for="statusName" class="col-sm-3 col-form-label col-auto required">Status</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="statusName" id="statusName" th:field="*{statusName}" th:disabled="${readOnly}">
                                        <option value="" disabled selected>Select a department</option>
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.name}"
                                                th:text="${status.name}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('statusName')}" th:errors="*{statusName}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="yearsOfExperience" class="col-sm-3 col-form-label col-auto">Year of Experience</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="number" class="form-control" id="yearsOfExperience" name="yearsOfExperience" th:field="*{yearsOfExperience}" th:readonly="${readOnly}" placeholder="Type an number...">
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="highestLevel" class="col-sm-3 col-form-label col-auto required">Highest level</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="highestLevel" id="highestLevel" th:field="*{highestLevel}" th:disabled="${readOnly}">
                                        <option value="" disabled selected>Select a gender</option>
                                        <option th:each="highestLevel : ${T(mock.project.entities.enums.HighestLevel).values()}"
                                                th:value="${highestLevel}"
                                                th:text="${#strings.capitalize(highestLevel.name().toLowerCase())}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('highestLevel')}" th:errors="*{highestLevel}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="note" class="col-sm-3 col-form-label col-auto">Note</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="note" name="note" th:field="*{note}" th:readonly="${readOnly}" placeholder="N/A">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary mx-3" th:classappend="${readOnly} ? 'disabled' : ''" type="submit">Submit</button>
                            <a th:href="@{/candidate-list}" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#skillName').selectize({
            plugins: ['remove_button'],
            maxItems: 6,
            placeholder: 'Select skill name',
            persist: false,
            create: true,
        });
    });
</script>
</body>

</html>