<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .login-form {
            width: 500px;
            margin: 200px auto;
            font-size: 15px;
        }

        .login-form form {
            margin-bottom: 15px;
            background: #eef1df;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        input {
            border: none;
        }
    </style>
</head>
<body>
<div class="login-form">
    <div class="alert alert-info" th:if="${param.success}">
        <span>Your new password is sent to your email, let check it</span>
    </div>
    <div class="alert alert-danger" th:if="${param.userNotFound}">
        <span>Email is not existed, check again!</span>
    </div>
    <form th:action="@{/forgetPassword}" method="post" th:object="${userDto}">
        <div class="d-flex justify-content-center align-items-center">
            <i style="font-size: 60px; display: block" class="fab fa-dev icon"></i>
            <h2 class="text-center m-4">IMS Recruitment</h2>
        </div>
        <p class="text-center">Please enter your email <br/> and we'll send you a link to get back your account</p>
        <div class="mb-2 d-flex mb-4">
            <label for="email" class="form-label col-2 required" >Email</label>
            <input type="text" class="col-10" id="email" name="email" th:field="*{email}">
        </div>
        <div class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <div class="mb-2 d-flex justify-content-evenly">
            <button type="submit" class="btn btn-light btn-block">Send</button>
            <a th:href="@{/login}" class="btn btn-light btn-block">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>