<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="nav-right d-flex justify-content-between align-items-center px-5" th:fragment="header">
        <div class="user-info text-center px-3">
            <div class="username">
                <span sec:authentication="name"></span>
            </div>
            <div class="department">
                <span th:each="authority : ${#authentication.principal.authorities}" th:text="${authority} + ' '"></span>
            </div>
        </div>

        <!-- Avatar -->
        <div class="dropdown dropstart">
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="40" alt="Black and White Portrait of a Man" loading="lazy" />
            </a>
            <ul class="user-menu dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar">
                <li>
                    <a class="dropdown-item" th:href="@{/user-list}">User management</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">My account</a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>