<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        button {
            border: 1px solid #dad3d3;
        }

        .search-icon {
            color: #505252;
            background-color: #eeeeee;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 2px 10px;
        }

        .btn-group input {
            padding: 2px 8px;
            border: 1px solid #dad3d3;
            border-right: none;
            border-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            outline: none;
        }

        .btn-group select {
            padding: 2px 0;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row vh-100">
        <div th:replace="sidebar :: sidebar"></div>
        <div class="main col-11">
            <div class="row header">
                <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light">
                    <h1 class="title">Offer management</h1>
                    <div th:replace="header :: header"></div>
                </nav>
            </div>
            <div class="row">
                <div class="content-header text-decoration-underline mb-4 px-3">Offer list</div>
                <div class="d-flex justify-content-between">
                    <form class="mb-4" th:action="@{/search-offer}" method="get">
                        <div class="btn-group">
                            <input type="text" name="search-data" th:value="${searchData}" placeholder="Search"/>
                            <button type="submit" class="search-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>

                        <div class="btn-group">
                            <label>
                                <select name="status">
                                    <option value="" th:selected="${status == null}">Select a status</option>
                                    <option th:each="status : ${statuses}"
                                            th:value="${status.name}"
                                            th:text="${status.name}"
                                            th:selected="${status.name == statusParam}"> <!-- Thêm điều kiện selected -->
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="btn-group">
                            <label>
                                <select class="form-control" name="deptName">
                                    <option value="" th:selected="${deptName == null}">Select a department</option>
                                    <option th:each="department : ${departments}"
                                            th:value="${department.deptName}"
                                            th:text="${department.deptName}"
                                            th:selected="${department.deptName == deptNameParam}"> <!-- Thêm điều kiện selected -->
                                    </option>
                                </select>
                            </label>
                        </div>
                    </form>
                    <div class="px-3">
                        <a th:if="${#authorization.expression('hasRole(''MANAGER'')')} or ${#authorization.expression('hasRole(''RECRUITER'')')}" class="header-icon" th:href="@{/create-offer}"><i class="fa-solid fa-circle-plus"></i></a>
                    </div>
                </div>

                <div class="table-responsive row">
                    <table class="content-table table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="col-2 text-center" scope="col">Candidate name</th>
                            <th class="col-2 text-center" scope="col">Email</th>
                            <th class="col-1 text-center" scope="col">Approved By</th>
                            <th class="col-2 text-center" scope="col">Department</th>
                            <th class="col-2 text-center" scope="col">Notes</th>
                            <th class="col-2 text-center" scope="col">Status</th>
                            <th class="col-1 text-center" scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="offer : ${offers}">
                            <td th:text="${offer.candidate != null ? offer.candidate.fullName : 'N/A'}" class="text-center"></td>
                            <td th:text="${offer.candidate != null ? offer.candidate.email : 'N/A'}" class="text-center"></td>
                            <td th:text="${offer.manager != null ? offer.manager.username : 'N/A'}" class="text-center"></td>
                            <td th:text="${offer.department != null ? offer.department.deptName : 'N/A'}" class="text-center"></td>
                            <td th:text="${offer.note}" class="text-center"></td>
                            <td th:text="${offer.status != null ? offer.status.name : 'N/A'}" class="text-center"></td>
                            <td>
                                <div class="text-center">
                                    <a  th:href="@{/view-offer/{id}(id=${offer.id}, update-offer=true)}">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                    <a th:if="${#authorization.expression('hasRole(''MANAGER'')')}" th:href="@{/view-offer/{id} (id = ${offer.id})}">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->
                <div th:if="${totalPages > 1}" class="pagination d-flex justify-content-end align-items-center">
                    <div>[[${pageSize}]] / [[${totalItems}]] rows</div>
                    <div class="btn-group mx-3">
                        <div class="btn-left">
                            <a class="btn btn-outline-primary border-0" th:if="${currentPage > 1}" th:href="@{'/offer-list/page/' + ${currentPage - 1}}"> < </a>
                            <span class="btn btn-outline-secondary disabled border-0" th:unless="${currentPage > 1}"> < </span>
                        </div>
                        <div class="btn-right">
                            <a class="btn btn-outline-primary border-0" th:if="${currentPage < totalPages}" th:href="@{'offer-list/page/' + ${currentPage + 1}}"> > </a>
                            <span class="btn btn-outline-secondary disabled border-0" th:unless="${currentPage < totalPages}"> > </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>