<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}">
</head>

<body>
<div class="container">
    <section class="vh-100 section">
        <div class="py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                    <div class="card shadow-2-strong">
                        <div class="card-body p-5 text-center container-login">

                            <form th:action="@{/perform-login}" method="post">
                                <div class="d-flex justify-content-center align-items-center">
                                    <i style="font-size: 60px; display: block" class="fab fa-dev icon"></i>
                                    <h2 class="text-center m-4">IMS Recruitment</h2>
                                </div>

                                <div class="text-start mb-4">
                                    <label style="font-size: 18px; font-weight: 700;" for="username">Username</label>
                                    <input type="text" id="username" name="username"
                                           class="username form-control form-control-lg" required autofocus/>
                                    <span class="error-msg"></span>
                                </div>

                                <div class="text-start">
                                    <label style="font-size: 18px; font-weight: 700;" for="password">Password</label>
                                    <div class="password-container">
                                        <input class="form-control form-control-lg" id="password" type="password" name="password" required>
                                        <span id="show-password" class="toggle-password-icon fas fa-eye" style="display: none;"></span>
                                        <span class="error-msg"></span>
                                    </div>
                                </div>
                                <div th:if="${param.error}">
                                    <span class="error-msg">Invalid username/ password. Please try again</span>
                                </div>
                                <div class="d-flex justify-content-between mt-3">
                                    <!-- Checkbox -->
                                    <div class="form-check d-flex justify-content-start mb-4 col-6">
                                        <input class="form-check-input" style="font-size: 20px" type="checkbox" value=""
                                               id="rememberPassword" />
                                        <label style="font-size: 16px; font-weight: 500;" class="form-check-label" for="rememberPassword">
                                            Remember password ?
                                        </label>
                                    </div>

                                    <div class="">
                                        <a th:href="@{/forgetPassword}" style="font-size: 16px; font-weight: 500;" class="btn-link link">
                                            Forgot password ?
                                        </a>
                                    </div>
                                </div>
                                <button class="btn button btn-lg btn-block" style="font-size: 20px; font-weight: 700;"
                                        type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    const passField = document.querySelector('#password');
    const showBtn = document.querySelector('#show-password');

    function togglePasswordVisibility() {
        if (passField.type === "password") {
            passField.type = "text";
            showBtn.classList.remove("show-icon");
            showBtn.classList.add("hide-icon");
            showBtn.style.color = "#3498db";
        } else {
            passField.type = "password";
            showBtn.classList.remove("hide-icon");
            showBtn.classList.add("show-icon");
            showBtn.style.color = "#222";
        }
    }

    passField.addEventListener('input', function () {
        if (passField.value.trim() !== '') {
            showBtn.style.display = "block";
        } else {
            showBtn.style.display = "none";
        }
    });

    showBtn.addEventListener('click', togglePasswordVisibility);
</script>
</body>
</html>
