<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        button {
            border: 1px solid #dad3d3;
        }

        .search-icon {
            color: #505252;
            background-color: #eeeeee;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 2px 10px;
        }

        .btn-group input {
            padding: 2px 8px;
            border: 1px solid #dad3d3;
            border-right: none;
            border-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            outline: none;
        }

        .btn-group select {
            padding: 2px 0;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div th:if="${param.failToUpdate}">
        <script>
            window.onload = function() {
                alert('Only update for candidate who have cancelled their interview schedule');
            };
        </script>
    </div>

    <div class="row vh-100">
        <div th:replace="sidebar :: sidebar"></div>
        <div class="main col-11">
            <div class="row header">
                <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light">
                    <h1 class="title">Interview schedule</h1>
                <div th:replace="header :: header"></div>
                </nav>
            </div>
            <div class="row">
                <div class="no-padding d-flex justify-content-between">
                    <div class="content-header text-decoration-underline mb-4">Interview Schedule List</div>
                    <div class="header-icon px-3">
                        <i class="fa-regular fa-calendar px-2"></i>
                        <i class="fa-solid fa-table-cells"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <form class="mb-4" th:action="@{/search-schedule}" method="get">
                        <div class="btn-group">
                            <input type="text" name="search-data" placeholder="Search"/>
                            <button type="submit" class="search-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>

                        <div class="btn-group">
                            <select name="status">
                                <option value="" disabled selected>Select a status</option>
                                <option th:each="status : ${statuses}"
                                        th:value="${status.name}"
                                        th:text="${status.name}">
                                </option>
                            </select>
                        </div>
                    </form>
                    <div class="px-3">
                        <a class="header-icon" th:if="${#authorization.expression('hasRole(''RECRUITER'')')}" th:href="@{/create-schedule}"><i class="fa-solid fa-circle-plus"></i></a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="content-table table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="col-2 text-center" scope="col">Title</th>
                            <th class="col-2 text-center" scope="col">Candidate Name</th>
                            <th class="col-2 text-center" scope="col">Interviewer</th>
                            <th class="col-3 text-center" scope="col">Schedule</th>
                            <th class="col-1 text-center" scope="col">Result</th>
                            <th class="col-1 text-center" scope="col">Status</th>
                            <th class="col-1 text-center" scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="schedule : ${schedules}">
                            <th th:text="${schedule.title}" class="text-center"></th>
                            <td th:text="${schedule.candidate.fullName}" class="text-center"></td>
                            <td class="text-center">
                                <span th:each="interviewer, iterStat : ${schedule.interviewers}">
                                    <span th:text="${interviewer.username}"></span>
                                    <span th:if="${!iterStat.last}">,</span>
                                </span>
                            </td>
                            <td class="text-center" th:text="${schedule.schedule} + '   ' + ${schedule.scheduleFrom} + ' - ' + ${schedule.scheduleTo}"></td>
                            <td class="text-center" th:text="${schedule.result != null ? schedule.result.name : ''}"></td>
                            <td class="text-center" th:text="${schedule.status != null ? schedule.status.name : ''}"></td>
                            <td>
                                <div class="text-center">
                                    <a th:href="@{/view-schedule/{id} (id = ${schedule.id})}">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                    <a th:if="${#authorization.expression('hasRole(''INTERVIEWER'')')}" th:href="@{/submit-schedule/{id} (id = ${schedule.id})}">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <a th:if="${#authorization.expression('hasRole(''MANAGER'')')} or ${#authorization.expression('hasRole(''RECRUITER'')')}" th:href="@{/update-schedule/{id} (id = ${schedule.id})}">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->
                <div th:if="${totalPages > 1}" class="pagination d-flex justify-content-end align-items-center">
                    <div>[[${pageSize}]] / [[${totalItems}]] rows</div>
                    <div class="btn-group mx-3">
                        <div class="btn-left">
                            <a class="btn btn-outline-primary border-0" th:if="${currentPage > 1}" th:href="@{'/schedule-list/page/' + ${currentPage - 1}}"> < </a>
                            <span class="btn btn-outline-secondary disabled border-0" th:unless="${currentPage > 1}"> < </span>
                        </div>
                        <div class="btn-right">
                            <a class="btn btn-outline-primary border-0" th:if="${currentPage < totalPages}" th:href="@{'/schedule-list/page/' + ${currentPage + 1}}"> > </a>
                            <span class="btn btn-outline-secondary disabled border-0" th:unless="${currentPage < totalPages}"> > </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>