<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</aside>
    <aside class="sidebar col-1" th:fragment="sidebar">
        <ul class="nav-menu text-center">
            <li class="nav-item">
                <i class="fa-brands fa-dev"></i>
            </li>
            <li class="nav-item">
                <a th:href="@{/home}"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="nav-item">
                <a th:href="@{/candidate-list}">
                    <i class="fa-solid fa-users-line"></i>
                    Candidate
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/job-list}"><i class="fa-solid fa-briefcase"></i>Job</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/schedule-list}">
                    <i class="fa-regular fa-comments"></i>Interview</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/offer-list}">
                    <i class="fa-solid fa-receipt"></i>Offer</a>
            </li>
        </ul>
    </aside>
</body>
</html>