<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap3.min.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .container {
            padding: 0!important;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row vh-100">
        <div th:replace="sidebar :: sidebar"></div>
        <div class="main col-11">
            <div class="row header">
                <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light">
                    <h1 class="title">Interview schedule</h1>
                    <div th:replace="header :: header"></div>
                </nav>
            </div>
            <div class="row">
                <div class="mb-4">
                    <a th:href="@{/schedule-list}" class="content-header text-decoration-underline">Interview Schedule List</a>
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="content-header text-decoration-underline font-italic">Interview Schedule Details</span>
                    <span th:if="${param.updateSuccess}" class="content-header alert alert-info">Successfully updated interview schedule</span>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="d-flex justify-content-between mb-2 mx-3" th:if="${scheduleDto != null}">
                        <span th:text="'Created on ' + ${scheduleDto.createTime} + ', last updated by ' + ${scheduleDto.updatedUser} + ' on ' + ${scheduleDto.updateTime}"></span>
                    </div>
                </div>

                <!-- create schedule form -->
                <form th:action="@{/update-schedule/{id} (id=${scheduleDto.id})}" method="post" th:object="${scheduleDto}">
                    <div class="row vh-100 mx-3 py-5" style="background-color: #f1f6fb">
                        <div class="col-4 col-sm-5">
                            <div class="row mb-5">
                                <label for="title" class="col-sm-3 col-form-label col-auto required">Schedule title</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="title" name="title" th:field="*{title}" th:readonly="${readOnly}">
                                    <span class="error-msg" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="candidates" class="col-sm-3 col-form-label col-auto required">Candidate name</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="status" id="candidates" th:field="*{candidateId}">
                                        <option value="" selected>Select a candidate</option>
                                        <option th:if="${candidate}" th:value="${candidate.id}" th:text="${candidate.fullName}"></option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('candidateId')}" th:errors="*{candidateId}"></span>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="schedule" class="col-sm-3 col-form-label col-auto required">Schedule</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="date" class="form-control" id="schedule" name="schedule" th:field="*{schedule}">
                                    <span class="error-msg" th:if="${#fields.hasErrors('schedule')}" th:errors="*{schedule}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="note" class="col-sm-3 col-form-label col-auto"></label>
                                <div class="col-sm-9 col-auto">
                                    <div class="container row d-flex justify-content-between mt-2">
                                        <div class="col-5 d-flex align-items-center">
                                            <label class="px-2" for="scheduleFrom">From</label>
                                            <input type="time" id="scheduleFrom" name="scheduleFrom" th:field="*{scheduleFrom}" class="form-control form-control-sm" />
                                        </div>
                                        <div class="col-5 d-flex align-items-center px-2">
                                            <label class="px-2" for="scheduleTo">To</label>
                                            <input type="time" id="scheduleTo" name="scheduleTo" th:field="*{scheduleTo}" class="form-control form-control-sm" />
                                            <div class="error-msg" th:if="${invalidTime}" th:text="${invalidTime}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="note" class="col-sm-3 col-form-label col-auto">Notes</label>
                                <div class="col-sm-9 col-auto">
                                    <textarea class="form-control" id="note" name="note" th:field="*{note}" rows="5" placeholder="Type schedule note..."></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 col-sm-2"></div>

                        <div class="col-4 col-sm-5">
                            <div class="row mb-5">
                                <label for="interviewerUsernames" class="col-sm-3 col-form-label col-auto required">Assignee</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control multiple-interviewer" id="interviewerUsernames" name="interviewerUsernames" th:field="*{interviewerUsernames}" multiple="multiple">
                                        <option value="" disabled selected>Select interviewers</option>
                                        <option th:each="interviewer : ${interviewers}"
                                                th:value="${interviewer.username}"
                                                th:text="${interviewer.username}">
                                        </option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('interviewerUsernames')}" th:errors="*{interviewerUsernames}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="location" class="col-sm-3 col-form-label col-auto">Location</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="location" name="location" th:field="*{location}" placeholder="Type a location...">
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="recruiter" class="col-sm-3 col-form-label col-auto required">Recruiter Owner</label>
                                <div class="col-sm-9 col-auto">
                                    <input class="form-control" th:field="*{recruiterName}" id="recruiter" name="recruiter" readonly>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <label for="result" class="col-sm-3 col-form-label col-auto required">Result</label>
                                <div class="col-sm-9 col-auto">
                                    <select class="form-control" name="result" id="result" th:field="*{result}" th:disabled="${readOnly}">
                                        <option th:if="${result}" th:value="${result.id}" th:text="${result.name}"></option>
                                    </select>
                                    <span class="error-msg" th:if="${#fields.hasErrors('result')}" th:errors="*{result}"></span>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="meetingId" class="col-sm-3 col-form-label col-auto">Meeting Id</label>
                                <div class="col-sm-9 col-auto">
                                    <input type="text" class="form-control" id="meetingId" name="meetingId" th:field="*{meetingId}" placeholder="Type a meeting...">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-secondary mx-3" type="submit">Submit</button>
                            <a th:href="@{${#httpServletRequest.getHeader('Referer')}}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#interviewerUsernames').selectize({
            plugins: ['remove_button'],
            maxItems: 4,
            placeholder: 'Select interviewers',
            persist: false,
            create: true,
        });
    });
</script>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const candidates = document.getElementById("candidates");
        const recruiter = document.getElementById("recruiter");

        candidates.addEventListener("change", function() {
            const selectedCandidateId = this.value;

            $.ajax({
                type: "GET",
                url: "/getRecruiterData/" + selectedCandidateId,
                data: { candidateId: selectedCandidateId },
                success: function (data) {

                    recruiter.value = data.recruiterUsername;
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>