<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create User Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap3.min.css"
        rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <style>
    .container {
      padding: 0!important;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div th:replace="sidebar :: sidebar"></div>
    <div class="main col-11">
      <div class="row header">
        <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light">
          <h1 class="title">Offer management</h1>
          <div th:replace="header :: header"></div>
        </nav>
      </div>
      <div class="row">
        <div class="mb-4 ">
          <a th:href="@{/offer-list}" class="content-header text-decoration-underline">Offer List</a>
          <i class="fa-solid fa-chevron-right"></i>
          <span class="content-header text-decoration-underline font-italic">View offer</span>
          <span th:if="${param.success}" class="content-header alert alert-info">Successfully created interview schedule</span>
          <span th:if="${param.updateSuccess}" class="content-header alert alert-info">Successfully updated interview schedule</span>
        </div>

        <!-- create schedule form -->

        <form th:action="@{/create-offer/{id} (id=${offerDto.id})}" method="post" th:object="${offerDto}">
          <div class="row mx-3 py-5" style="background-color: #f1f6fb">
            <div class="col-5 col-sm-5">

              <div class="row mb-5">
                <label for="candidateFullName" class="col-sm-3 col-form-label col-auto required">Candidate</label>
                <div class="col-sm-9 col-auto">
                    <input type="text" class="form-control" id="candidateFullName" name="candidateFullName" th:field="*{candidateFullName}" th:readonly="${readOnly}">
                </div>
              </div>

              <div class="row mb-5">
                <label for="position" class="col-sm-3 col-form-label col-auto required">Position</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="position" id="position" th:field="*{position}" th:disabled="${readOnly}">
                    <option th:each="position : ${positions}"
                            th:value="${position.id}"
                            th:text="${position.name}">
                    </option>
                  </select>
                  <span class="error-msg" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
                </div>
              </div>

              <div class="row mb-5">
                <label for="manager" class="col-sm-3 col-form-label col-auto required">Approved by</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="manager" id="manager" th:field="*{manager}" th:disabled="${readOnly}">
                    <option value="" disabled selected>Select a username</option>
                    <option th:each="user : ${managers}"
                            th:value="${user.username}"
                            th:text="${user.username}">
                    </option>
                  </select>
                  <span class="error-msg" th:if="${#fields.hasErrors('manager')}" th:errors="*{manager}"></span>
                </div>
              </div>

              <div class="row mb-5">
                <label for="statusName" class="col-sm-3 col-form-label col-auto required">Status</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="statusName" id="statusName" th:field="*{statusName}" th:disabled="${readOnly}">
                    <option value="" disabled selected>Select a department</option>
                    <option th:each="status : ${statuses}"
                            th:value="${status.name}"
                            th:text="${status.name}">
                    </option>
                  </select>
                  <span class="error-msg" th:if="${#fields.hasErrors('statusName')}" th:errors="*{statusName}"></span>
                </div>
              </div>

              <div class="row mb-5">
                <label for="interviewer" class="col-sm-3 col-form-label col-auto required">Interviewer</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="interviewer" id="interviewer" th:field="*{interviewer}" th:disabled="${readOnly}" th:readonly="name">
                    <option value="" disabled selected>Select a interviewer</option>
                    <option th:each="recruiter : ${recruiters}"
                            th:value="${recruiter.username}"
                            th:text="${recruiter.username}">
                    </option>
                    <span class="error-msg" th:if="${#fields.hasErrors('interviewer')}" th:errors="*{interviewer}"></span>
                  </select>
                </div>
              </div>

              <div class="row mb-5">
                <label for="note" class="col-sm-3 col-form-label">Contract start</label>
                <div class="col-sm-9">
                  <div class="container row">
                    <div class="col-6 d-flex align-items-center">
                      <label class="px-2" for="contractStartFrom">From</label>
                      <input class="py-1" type="date" id="contractStartFrom" name="contractStartFrom" th:field="*{contractStartFrom}" th:readonly="${readOnly}"/>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                      <label class="px-2" for="contractStartTo">To</label>
                      <input class="py-1" type="date" id="contractStartTo" name="contractStartTo" th:field="*{contractStartTo}" th:readonly="${readOnly}"/>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-5">
                <label for="interviewNotes" class="col-sm-3 col-form-label col-auto">Interview Notes</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="interviewNotes" id="interviewNotes" th:field="*{interviewNotes}" th:disabled="${readOnly}">
                    <option value="" disabled selected>Select a interviewNotes</option>
                    <option th:each="schedule : ${interviewSchedules}"
                            th:value="${schedule.note}"
                            th:text="${schedule.note}">
                    </option>
                    <span class="error-msg" th:if="${#fields.hasErrors('interviewNotes')}" th:errors="*{interviewNotes}"></span>
                  </select>
                </div>
              </div>
            </div>

             <div class="col-2 col-sm-2"></div>

            <div class="col-5 col-sm-5">
              <div class="row mb-5">
                <label for="contractType" class="col-sm-3 col-form-label col-auto">Contract type</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="contractType" id="contractType" th:field="*{contractType}"
                          th:disabled="${readOnly}">
                    <option value="" disabled selected>Select a gender</option>
                    <option th:each="contract : ${T(mock.project.entities.enums.ContractType).values()}"
                            th:value="${contract}"
                            th:text="${#strings.capitalize(contract.name().toLowerCase())}">
                    </option>
                  </select>
                  <span class="error-msg" th:if="${#fields.hasErrors('contractType')}"
                        th:errors="*{contractType}"></span>
                </div>
              </div>

              <div class="row mb-5">
                <label for="levelName" class="col-sm-3 col-form-label col-auto">Level</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="levelName" id="levelName" th:field="*{levelName}" th:disabled="${readOnly}">
                    <option value="" disabled selected>Select a level</option>
                    <option th:each="level : ${levels}"
                            th:value="${level.levelName}"
                            th:text="${level.levelName}">
                    </option>
                  </select>
                  <span class="error-msg" th:if="${#fields.hasErrors('levelName')}" th:errors="*{levelName}"></span>
                </div>
              </div>

              <div class="row mb-5">
                <label for="department" class="col-sm-3 col-form-label col-auto required">Department</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="department" id="department" th:field="*{department}" th:disabled="${readOnly}">
                    <option value="" disabled selected>Select a department</option>
                    <option th:each="department : ${departments}"
                            th:value="${department.deptName}"
                            th:text="${department.deptName}">
                    </option>
                  </select>
                  <span class="error-msg" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
                </div>

              </div>
              <div class="row mb-5">
                <label for="recruiterOwner" class="col-sm-3 col-form-label col-auto">Recruiter Owner</label>
                <div class="col-sm-9 col-auto">
                  <select class="form-control" name="recruiterOwner" id="recruiterOwner" th:field="*{recruiterOwner}" th:disabled="${readOnly}">
                    <option value="" disabled selected>Select a department</option>
                    <option th:each="recruiter : ${recruiters}"
                            th:value="${recruiter.username}"
                            th:text="${recruiter.username}">
                    </option>
                  </select>
                  <span class="error-msg" th:if="${#fields.hasErrors('recruiterOwner')}" th:errors="*{recruiterOwner}"></span>
                </div>
              </div>

              <div class="row mb-5">
                <label for="dueDate" class="col-sm-3 col-form-label col-auto">Due Date</label>
                <div class="col-sm-9 col-auto">
                  <input type="date" class="form-control" id="dueDate" name="dueDate" th:field="*{dueDate}" th:readonly="${readOnly}" placeholder="Type a meeting...">
                </div>
              </div>

              <div class="row mb-5">
                <label for="basicSalary" class="col-sm-3 col-form-label col-auto">Basic salary</label>
                <div class="col-sm-9 col-auto">
                  <input type="text" class="form-control" id="basicSalary" name="basicSalary" th:field="*{basicSalary}" th:readonly="${readOnly}" placeholder="Type a meeting...">
                </div>
              </div>

              <div class="row mb-5">
                <label for="note" class="col-sm-3 col-form-label col-auto">Notes</label>
                <div class="col-sm-9 col-auto">
                  <textarea class="form-control" id="note" name="note" th:field="*{note}" th:readonly="${readOnly}" rows="5" placeholder="Type schedule note..."></textarea>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button class="btn btn-primary mx-3" th:classappend="${readOnly} ? 'disabled' : ''" type="submit">Submit</button>
              <a th:href="@{${#httpServletRequest.getHeader('Referer')}}" class="btn btn-danger">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#interviewer').selectize({
      plugins: ['remove_button'],
      maxItems: 4,
      placeholder: 'Select interviewers',
      persist: false,
      create: true,
    });

    $('#recruiterOwner').selectize({
      plugins: ['remove_button'],
      maxItems: 4,
      placeholder: 'recruiterOwner',
      persist: false,
      create: true,
    });
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>