:root {
    --main-background-color: #f9f8f2;
    --text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}


button, input, [tabindex] {
    outline: none;
    border: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}