body {
    background-image: url('corgi-wallpaper-38269-39144-hd-wallpapers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-login {
    border-radius: 1rem;
    position: relative;
    z-index: 30;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(239, 233, 233, 0.8);
    z-index: 1;
}

.card {
    background: transparent;
    border: 1px solid black;
}

.button {
    border: 1px solid rgb(101, 99, 99);
    border-radius: 1rem;
    background-color: rgb(228, 231, 231);
}

.password-container {
    position: relative;
}

.toggle-password-icon {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #060607;
}