/* Home css */
.sidebar {
    padding: 0;
    background-color: var(--main-background-color);
}

.nav-item {
    padding: 8px 0;
    margin: 20px 0;
}

.nav-item:hover {
    background-color: #ebeae7;
    cursor: pointer;
}

.nav-item i {
    font-size: 34px;
    display: block;
}

.nav-item a {
    display: block;
}

.main {
    padding: 0 20px;
}

.header {
    min-height: 80px;
}

.title {
    font-weight: 700;
}


/* custom dropdown */
body .dropstart .dropdown-menu[data-bs-popper] {
    top: 16px;
    right: 56%;
}

.user-menu {
    background-color: #d9d9d9;
}

.user-menu .dropdown-item {
    padding: 6px 30px 6px 8px;
}


/* animation */
/*.nav-item a {*/
/*    display: none;*/
/*}*/

.sidebar:hover .nav-item a {
    display: inline;
}

.col-1 {
    transition: transform 0.3s;
}

.content-header {
    font-weight: 500;
    padding: 0 4px;
}

.content-header.font-italic {
    font-style: italic;
}

.header-icon {
    font-size: 20px;
}

/* custom form */
.col-form-label.required::after {
    content: " *";
    color: red;
    font-weight: 700;
}
.error-msg {
    color: red;
    display: block;
    text-align: left;
    font-size: 15px;
    margin: 4px 0 -4px 2px;
}

/* Đảm bảo rằng mũi tên của hộp dropdown không bị ẩn */
.form-control {
    -webkit-appearance: menulist-button;
    appearance: menulist-button;
    border: 1px solid black;
}
